* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 24px;
}
body {
    font-family: 'Gelasio', serif;
    width: 100vw;
    padding: 5%; 
    text-align: center;
}

.container-main {
    max-width: 90%;
    margin: 0 auto; 
}

fieldset {
    border: none;
}

.btn {
    border: 1px solid black; 
}

.main-buttons {
    display: flex;
    justify-content: space-around; 
    align-items: space-around;
    flex-direction: column; 
    margin: 2% auto; 
}
.add-new {
    border: 5px solid #3675ff; 
    background-color: #3675ff; 
    border-radius: 2%;
    transition: 0.2s; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.add-new, .filter-btn {
    width: 100%; 
    padding: 2%; 
    align-content: center;
    margin: 2% auto; 
    vertical-align: center; 
}
.filter-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.new-text {
    padding: 0 5%; 
}

.title-section {
    display: flex;
    justify-content: space-between; 
    flex-direction: row; 
    background-color: lightgray;
    border: 2px solid black; 
    cursor: pointer;
    align-items: center; 
    transition: 0.2s;
}
.title-section:hover {
    background-color: gray; 
}
.btn {
    cursor: pointer;
}
ul {
    list-style: none; 
    border: 1px solid black; 
}
a {
    text-decoration: none;
}
.trash-icon {
    padding-right: 20%; 
}
.trash-icon:hover {
    color: #3675ff;
}
.star-icon {
    color: gold; 
}

.button-rating {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2% auto; 
    align-items: center; 
}

.visit-site {
    padding: 2%;
    color: white;
    background-color: black; 
    width: 80%; 
    cursor: pointer;
}
.visit-site:hover {
    background-color: #3675ff;
}

.rating-expanded {
    font-weight: bold;
    color: gold; 
    vertical-align: center;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 455px) {
    .add-new {
        background-color: #fff;
    }
.add-new:hover{
    background-color: #3675ff;
}
    
.title-section {
    border: 1px solid grey; 
    padding: 2% 5%;
    -webkit-box-shadow: 10px 9px 13px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 9px 13px -5px rgba(0,0,0,0.75);
box-shadow: 10px 9px 13px -5px rgba(0,0,0,0.75);
}
}